* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c2e2ed;
  overflow: hidden;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

.wrapper {
  /* width: calc(100vw - 10px); */
  margin: 0 auto;
  background-color: antiquewhite;
  position: relative;

}
h2 {
  text-align: center;
  padding: 20px;
  background-color: #fbca1f;
}

.wrapper-scroll {
  height: 700px;

}

.box-scroll {
  overflow-y: auto;
  padding: 20px 10px;
  height: 84vh;
}



/* From Uiverse.io by eslam-hany */
/* From Uiverse.io by aadium */
.card {
  background-color: #1e2127;
  border: 3px solid #61dafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  padding: 30px 20px;
  border-radius: 45px;
  margin-bottom: 10px;
}

img{
  width: 300px;
  height: 200px;
  border-radius: 16px 16px 0 0;
}

.header-bottom {
  color: red;
  font-size: 44px;
  margin-top: 10px;
}

.App-button {
  padding: 10px 20px;
  background-color: transparent;
  color: #61dafb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  border: 3px solid #61dafb;
  border-radius: 5em;
  margin-top: 20px;
  transition: 0.2s;
}

.App-button:hover {
  color: #1e2127;
  background-color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dialog {
  background-color: rgb(125, 202, 250);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.dialog-box {
  width: 98%;
  margin: 0 auto;
  height: 100vh;
  
}

form h2 {
  font-size: 28px;
  padding-top: 30px;
  margin-bottom: 20px;
}

#input1 {
  height: 60px;
  outline: none;
  border: 3px #61dafb solid;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
  width: 100%;
  box-shadow: 5px 5px 10px #719ECE;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

#input1:focus {
  border: 3px red solid;
}

textarea {
  display: block;
  width: 100%;
  height: 250px;
  overflow-y: auto;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  padding: 6px;
  border: 3px #61dafb solid;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  box-shadow: 5px 5px 10px #719ECE;
}

textarea:focus {
  border: 0;
  border: 3px red solid;
}

input[type='submit'] {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 22px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  width: 100%;
  margin-top: 30px;
}
input[type='submit']:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

input[type='submit']:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
/* Базовые стили для snackbar */
#snackbar {
    visibility: hidden; /* Скрываем по умолчанию, используя visibility */
    min-width: 350px;
    margin-left: -175px; /* Центрируем */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed; /* Фиксированное позиционирование внизу */
    z-index: 1;
    left: 50%; /* Начинаем от середины экрана */
    bottom: 30px; /* Позиционируем в 30px от нижнего края */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Класс, который добавляет JS, когда snackbar должен быть видимым */
#snackbar.show {
    visibility: visible;
    /* Добавляем анимацию появления (снизу вверх) */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Анимация появления (fade-in) */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

/* Анимация исчезновения (fade-out) через 2.5 секунды */
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}